@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@plugin 'daisyui/theme' {
  name: 'light';
  default: true;
  --color-primary: var(--color-orange-500);
  --color-primary-content: var(--color-stone-100);
  --color-secondary: var(--color-purple-700);
  --color-secondary-content: var(--color-stone-100);
  --color-accent: var(--color-stone-100);
  --color-accent-content: var(--color-stone-800);
  --color-neutral: var(--color-stone-700);
  --color-neutral-content: var(--color-stone-100);
  --color-base-100: var(--color-stone-100);
  --color-base-200: var(--color-stone-200);
  --color-base-300: var(--color-stone-300);
  --color-base-content: var(--color-stone-800);
  --color-info: var(--color-sky-500);
  --color-success: var(--color-lime-500);
  --color-warning: var(--color-yellow-400);
  --color-error: var(--color-red-500);
}
@plugin 'daisyui/theme' {
  name: 'dark';
  prefersdark: true;
  --color-primary: var(--color-orange-500);
  --color-primary-content: var(--color-stone-100);
  --color-secondary: var(--color-purple-700);
  --color-secondary-content: var(--color-stone-100);
  --color-accent: var(--color-stone-100);
  --color-accent-content: var(--color-stone-800);
  --color-neutral: var(--color-stone-700);
  --color-neutral-content: var(--color-stone-100);
  --color-base-100: var(--color-stone-600);
  --color-base-200: var(--color-stone-700);
  --color-base-300: var(--color-stone-800);
  --color-base-content: var(--color-stone-100);
  --color-info: var(--color-sky-500);
  --color-success: var(--color-lime-500);
  --color-warning: var(--color-yellow-400);
  --color-error: var(--color-red-500);
}

@theme {
  --breakpoint-xs: 30rem;

  --shadow-glow: 0 0 6px -1px rgb(0 0 0 / 0.1), 0 0 4px -2px rgb(0 0 0 / 0.1);

  --animate-push: push 500ms ease-in-out infinite;

  @keyframes push {
    0%, 100% {
      transform: scaleX(1);
    }

    50% {
      transform: scaleX(1.05);
    }
  }
}

body {
  @apply bg-base-200;
  @apply p-2;
  @apply min-h-screen;
}

@supports (aspect-ratio: 2) {
  .fader::range-thumb {
    width: unset;
    aspect-ratio: 2;
  }
}

.fader::range-thumb {
  box-shadow: none;
  @apply bg-base-content;
}

.btn.muted {
  @apply bg-red-500;
  @apply text-white;
  @apply border-red-500;
  @apply outline-red-500;
}

.btn.unmuted {
  @apply bg-transparent;
  @apply text-red-500;
  @apply border-red-500;
  @apply outline-red-500;
}