name: (Reusable Workflow) Build

on: 
  workflow_call:
    inputs:
      release-version:
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    env:
      NEXT_TELEMETRY_DISABLED: 1
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Dev Build (no publish)
        if: ${{ !inputs.release-version }}
        run: podman build --platform linux/amd64,linux/arm64 .
      - name: Prod Build (publish to ghcr.io)
        if: ${{ inputs.release-version }}
        run: |
          podman manifest create ghcr.io/${GITHUB_REPOSITORY,,}:${{ inputs.release-version }}
          podman build --platform linux/amd64,linux/arm64 --manifest ghcr.io/${GITHUB_REPOSITORY,,}:${{ inputs.release-version }} .
          podman login -u "${{ github.actor }}" -p "${{ secrets.GITHUB_TOKEN }}" "ghcr.io"
          podman manifest push ghcr.io/${GITHUB_REPOSITORY,,}:${{ inputs.release-version }} ghcr.io/${GITHUB_REPOSITORY,,}:${{ inputs.release-version }}
          podman manifest push ghcr.io/${GITHUB_REPOSITORY,,}:${{ inputs.release-version }} ghcr.io/${GITHUB_REPOSITORY,,}:nightly
