name: (Reusable Workflow) Unit Tests

on: [workflow_call]

jobs:
  unit-tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    env:
      NEXT_TELEMETRY_DISABLED: 1
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - run: pnpm install --frozen-lockfile
      - run: pnpm test
