name: Renovate
on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:
jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Renovate
        uses: renovatebot/github-action@v44.2.2
        with:
          configurationFile: renovate/config.json
          token: '${{ secrets.RENOVATE_TOKEN }}'